@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Roboto Condensed", Sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}

main {
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
}


.custom-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.custom-logo {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    font-weight: 700;
}

.custom-logo img {
    height: 60px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.custom-navigation ul {
    list-style: none;
}

.custom-grupo-piaggio a.active::before,
.custom-grupo-piaggio a.active::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
}

.custom-grupo-piaggio a:focus,
.custom-grupo-piaggio a:hover {
    position: relative;
}

.custom-menu-item>a:focus::before,
.custom-menu-item>a:hover::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
}


.custom-header .custom-navigation ul li {
    float: left;
    position: relative;
}

.custom-header .custom-navigation ul li a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.custom-header .custom-navigation ul li a:hover {
    color: #8c6c4c;
}

.custom-header .custom-navigation ul li ul {
    position: absolute;
    right: 0;
    background-color: black;
    display: none;
    left: 1px;
    text-align: left;
    width: 150px;
}

.custom-header .custom-navigation ul li ul li a {
    font-size: 12px;
    text-transform: capitalize;
}

.custom-header .custom-navigation ul li ul li a:hover {
    color: #8c6c4c;
}

.custom-header .custom-navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;
}

.custom-header .custom-navigation ul li ul li {
    width: 150px;
}

.custom-header .custom-navigation ul li:hover>ul {
    display: initial;
}

#custom-toggle-nav,
.custom-header label {
    display: none;
    cursor: pointer;
}

.custom-menu {
    width: 45px;
    height: 35px;
}

.custom-header .custom-navigation ul li ul.sub_3 {
    position: absolute;
    top: 0;
    left: 100%;
    /* Cambiado de "right: 0" a "left: 100%" */
    background-color: black;
    display: none;
    text-align: left;
    width: 150px;
}

.custom-header .custom-navigation ul li ul.sub_3 li {
    width: 100%;
}

.custom-header .custom-navigation ul li ul.sub_3 li a {
    font-size: 12px;
    text-transform: capitalize;
}

.custom-header .custom-navigation ul li:hover>ul.sub_3 {
    display: initial;
}


@media (max-width: 950px) {
    .custom-header label {
        display: initial;
    }

    .custom-header {
        padding: 20px 10%;
    }

    .custom-header .custom-navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }

    .custom-header .custom-navigation ul li {
        width: 100%;
    }

    .custom-header .custom-navigation ul li a {
        padding: 8px 30px 8px 10%;
    }

    .custom-header .custom-navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .custom-header .custom-navigation ul li ul li {
        background-color: black;
    }

    .custom-header .custom-navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    #custom-toggle-nav:checked~.custom-navigation {
        display: block;
    }
}


/*BANNER*/
.main {
    background-color: aquamarine;
}

.banner {
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/Foto\ bodega\ Baigorri\ negro.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: 15px;
}

.banner img {
    max-height: 600px;
}

.content_banner1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content_banner {
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 30%;
    height: 350px;
    padding-left: 40px;
    position: relative;
    right: 35px;
}

.encabezado_uno {
    display: flex;
}

.encabezado_1 {
    color: #8c6c4c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Josefin Sans', sans-serif;
}

.encabezado_dos {
    display: flex;
}

.encabezado_2 {
    color: #FFF;
    font-family: 'Charm', cursive;
    font-size: 50px;
}

.encabezado_tres {
    display: flex;
}

.encabezado_3 {
    color: #FFF;
    font-family: 'Lora', serif;
    font-size: 90px;
}

@media (max-width: 768px) {
    .banner {
        height: 700px;
        /* Ajustar la altura automáticamente */
    }

    .banner img {
        max-height: 100%;
        max-width: 100%;
    }

    .encabezado_uno {
        text-align: center;
    }

    .encabezado_2 {
        font-size: 40px;
        /* Reducir el tamaño del texto para dispositivos móviles */
    }

    .content_banner1 {
        width: 90%;
        /* Usar el ancho completo en dispositivos móviles */
    }
}


/*lines y espacio*/
.espacio_modelos {
    height: 80px;
    background-color: white;
}

.lineas_azules {
    height: 5px;
    background-color: #0371AD;
}

/*fotter*/
.custom_footer {
    background-color: #000;
    color: white
}

.footer-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
}

.footer-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
}

.footer_1 a {
    text-decoration: none;
    color: #FFF;
}

.col_foo_1 {
    display: flex;
    align-items: left;
    gap: 10px;
    width: 33%;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
}

.col_foo_2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 33%;
    justify-content: center;
    flex-direction: column;
}

.col_foo_3 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 33%;
    justify-content: center;
}

.custom-site-footer .footer-box-header {
    position: relative;
}

.custom-site-footer .red-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: red;

}

.custom-site-footer .footer-row {
    display: flex;
    align-items: center;
}

.custom-site-footer .footer-row img {
    margin-right: 10px;
}


.footer-widgets-inner {
    display: flex;
    justify-content: center;
}

.footer-box-header {
    padding: 10PX;
}

ul,
a {
    list-style: none;
    color: white;
}

.footer-bottom {
    background-color: #1d1815;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}

.footer_1 span {
    color: #6e6565;
}

.footer_1 span:hover {
    color: #8c6c4c;
}

@media (max-width: 767px) {
    #custom-footer {
        flex-direction: column;
    }

    .footer-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-widgets-inner {
        flex-direction: column;
    }

}



/*conten formulario*/
.modelo_formulario {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.modelo_formulario_contenedor {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contennn_for {
    display: flex;
    justify-content: space-evenly;
}

.formulario_conten_parte1 {
    text-align: center;
    padding: 10px;
}

.formulario_conten2 {
    width: 50%;
    color: white;
    padding-top: 29px;
}

.formulario_conten_parte2 {
    width: 75%;
}

.formulario_conten_parte2 h1 {
    font-size: 30px;
    color: white;
}

/**/
.custom-container {
    display: flex;
    width: 80%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-input {
    flex: 9;
    margin-right: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.custom-button {
    flex: 1;
    width: 100%;
    padding: 10px;
    background-color: white;
    /* Fondo blanco */
    color: #8c6c4c;
    /* Texto dorado */
    border: none;
    /* Sin bordes */
    border-radius: 5px;
    cursor: pointer;
}



/*formulario*/
.container_form {
    max-width: 40%;
    margin: 0 auto;
}

.modelo_formulario form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}

.modelo_formulario option {
    text-transform: uppercase;
}

.modelo_formulario input {
    font-family: "Roboto Condensed", Sans-serif;
    color: #000;
}


input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modelo_formulario label {
    text-align: center;
    display: block;
}

.modelo_formulario .checkbox-container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modelo_formulario input[type="checkbox"] {
    margin: 5px;
}

.modelo_formulario input[type="submit"] {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.modelo_formulario input[type="submit"]:hover {
    background-color: red;
}

.custom-submit-button {
    width: auto;
    /* Hacer el botón cuadrado */
    background-color: black;
    /* Fondo negro */
    color: white;
    /* Texto blanco */
    text-align: left;
    /* Alineado a la izquierda */
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    /* Sin bordes redondeados */
    cursor: pointer;
}




/*section logos*/
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    background-color: #000;
}

.logo-container {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.logo {
    width: calc(33.33% - 20px);
    max-height: 200px;
    max-width: 150px;
    min-height: 150px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    .logo {
        width: calc(50% - 20px);
    }
}

/*gastronia*/

.gastronia_info {
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/ban3.jpg);
    background-repeat: no-repeat;
    color: white;
}

.gastronia_info h1 {
    font-size: 50px;
}

.gastronia_info h3 {
    font-size: 20px;
}

.gastronia_info h4 {
    font-size: 30px;
}

.conte_cat {
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/banlogo.jpg);
    background-repeat: no-repeat;
}

/*vinos */
.conten_vinos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.caja_vinos {
    /* width: 468px; */
}

.vino_1 {
    text-align: center;
}

.encabezado_vino h2 {
    text-align: center;
}


.info_vinos {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_vinos>div {
    padding: 5px;
}

.info_vinos>div:last-child {
    background-color: black;
    color: white;
    width: 50%;
    padding: 5px;
    text-align: center;
}

/*banner slider*/

.wrapper {
    width: 100%;
    overflow: hidden;
  }
  
  .wrapper .carousel {
    position: relative;
  }
  
  .carousel .carousel-buttons {
    width: 100%;
    top: 40%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  
  .carousel .carousel-buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: all 100ms ease;
    z-index: 1;
  }
  
  .carousel .carousel-buttons div:hover {
    color: #ffffff;
    background: #000000;
  }
  
  .wrapper .carousel .banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: all 1s ease;
  }
  
  .wrapper .carousel .banner.show {
    opacity: 1;
    position: relative;
    left: 0;
    animation-name: slideIn;
    animation-duration: 1s;
  }
  
  .wrapper .carousel .banner img {
    width: 100%;
  }
  
  @keyframes slideIn {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  /*btn what*/
  .btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    bottom: 25px;
    right: 100px;
    background: #25d366;
    color: #FFF;
    border-radius: 5px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;
}

.btn-wsp1 {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    bottom: 25px;
    right: 25px;
    background: white;
    color: #FFF;
    border: #000 1px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;
}